menu
	ul.tablenames
		li
			a(href="#" data-table="mensajes") Mensajes
		li
			a(href="#" data-table="estadoscanales") Estados Canales
		li
			a(href="#" data-table="canales") Canales
		li
			a(href="#" data-table="usuarios") Usuarios
		li
			a(href="#" data-table="usuariosdatos") Usuarios Datos

div#tableContainer

script(src="/scripts/tables.js")