//index.jade

h2 Consultas a la base de datos
h4 Consulta:
textarea#txt-query
button#btn-query.btn.btn-primary Ejecutar
h4 Resultado:
#res-container

script(src="/scripts/tables.js")
script(src="/scripts/querys.js")